<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEstacionamento"
                 openTimeout="00:30:00"
                 closeTimeout="00:30:00"
                 sendTimeout="00:30:00"
                 receiveTimeout="00:30:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58048/Estacionamento.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEstacionamento"
          contract="ServicoEstacionamento.IEstacionamento" name="BasicHttpBinding_IEstacionamento" />
    </client>
  </system.serviceModel>
</configuration>